<div class="schedule">
	<div class="schedule-date">
	28
	</div>
	<div class="schedule_meeting-now">
		<div class="schedule_how-soon">NOW</div>
		<div class="schedule_meeting-name">Fan X Standup</div>
		<div class="schedule_meeting-time">14:00 - 14:15</div>
	</div>

	<div class="schedule_meeting">
		<div class="schedule_how-soon">NEXT</div>
		<div class="schedule_meeting-name">Backlog Refinement</div>
		<div class="schedule_meeting-time">14:15 - 15:30</div>
	</div>

	<div class="schedule_meeting">
		<div class="schedule_how-soon">LATER</div>
		<div class="schedule_meeting-name">Engineering Sync</div>
		<div class="schedule_meeting-time">16:00 - 17:00</div>
	</div>

	<div class="schedule_meeting">
		<div class="schedule_how-soon">TOMOROW</div>
		<div class="schedule_meeting-name">Fan X Standup</div>
		<div class="schedule_meeting-time">14:00 - 14:15</div>
	</div>
</div>

<%= render partial: 'sonos' %>