.main-content {
  display:flex;
  flex-direction: row;

  margin-top:100px;
}

.icons {
  padding-top: 23px;
  padding-left:15px;
}
.schedule {
  padding: 20px;
}

.schedule-date {
  background-color: #EFEFEF;
  font-size: 38px;
  border-radius: 4px;
  border-top: 10px SOLID red;
  color:#333333;
  text-align: center;
  padding: 5px 5px;
  width:50px;
  margin-left:10px;
  margin-bottom: 15px;

}

.schedule_meeting {
  padding-left:10px;
  padding-bottom: 20px;
}

.schedule_how-soon {
  font-size: 12px;
  font-weight:700	
}

.schedule_meeting-name {
  font-size: 22px;
}

.schedule_meeting-time {
  font-size: 12px;	
}

.schedule_meeting.now {
  padding-left: 10px;
  padding-bottom: 20px;
}

  .schedule_how-soon.now {
    font-size: 22px;
    font-weight:700
  }

  .schedule_meeting-name.now {
    font-size: 38px;
  }

  .schedule_meeting-time.now {
    font-size: 22px;
  }

